@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --font-family: 'Nunito Sans', sans-serif;
  --font-weight-light: 600;
  --font-weight-normal: 600;
  --font-weight-bold: 800;

  --radii: 0.5rem;
}

body[data-theme='dark'] {
  --color-ui-base:hsl(209, 23%, 22%);
  --color-bg: hsl(207, 26%, 17%);
  --color-text: hsl(0, 0%, 100%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme='light'] {
  --color-ui-base: hsl(0, 0%, 100%);
  --color-bg:  hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 8%);

  --shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  color: var(--color-text);
  background: var(--color-bg);
}